.layoutContainer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.content {
  padding-left: 60px;
  flex-grow: 1;
}

@media (max-width: 550px) {
  .content {
    padding-left: 0;
    padding-top: 45px;
    flex-grow: 1;
    margin-bottom: 60px;
  }
}
