@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

$font: 'Ubuntu', sans-serif;
$fontCode: 'Source Code Pro', monospace;
$fontCursive: 'La Belle Aurore', cursive;

$background: #0c2233;


$gray: #26282b;

$primary: #dffbff;
$secondary: #00fff5;
$tersiary: #3AAAFE;

$primaryText: #dffbff;
$secondaryText: #00fff5;
$tersiaryText: #5f6f70;
$error: #B00020;
